@{
    ViewBag.Title = "Ana Sayfa";
    var locations = ViewData["Locations"] as List<ObiletCase.Models.Response.LocationDataModel>;
    var journeys = ViewData["Journeys"] as List<ObiletCase.Models.Request.JourneyDataModel>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bus Locations</title>
    <style>
        table {
            width: 90%;
            margin: 20px auto;
            border-collapse: collapse;
            font-family: sans-serif;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>

    <h2 style="text-align: center;">Bus Location List</h2>
    <table id="busTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parent Id</th>
                <th>City Name</th>
                <th>Keywords</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in locations)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.ParentId
                    </td>
                    <td>
                        @item.CityName
                    </td>
                    <td>
                        @item.Keywords
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h2 style="text-align: center;">Journey List</h2>
    <table id="journeyTable">
        <thead>
            <tr>
                <th>Partner Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in journeys)
            {
                <tr>
                    <td>
                        @item.PartnerName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>