@{
    ViewBag.Title = "Seferler";
    var journeys = ViewData["Journeys"] as List<ObiletCase.Models.Request.JourneyDataModel>;
    var journey = journeys.FirstOrDefault();
    var originName = ViewData["OriginName"] as string;
    var destinationName = ViewData["DestinationName"] as string;
}

<div class="container mt-4">
    @*<a href="/" class="back-button">
        <i class="fas fa-arrow-left"></i>
        Yeni Arama Yap
    </a>*@
    <div class="journey-header d-flex justify-content-between align-items-center">
        <div class="text-start">
            <a href="/" class="back-button">
                <i class="fas fa-arrow-left"></i>
                Geri
            </a>
        </div>
        <div>
            <h4 class="mb-1">@originName - @destinationName</h4>
            <small>@journey.Journey.Departure.ToString("dd MMMM dddd", new System.Globalization.CultureInfo("tr-TR"))</small>
        </div>
        <div class="text-end">
            <small>@journeys.Count Sefer Bulundu</small>
        </div>
    </div>

    @foreach (var item in journeys.OrderBy(x=>x.DepartureDate))
    {
        <div class="journey-card">
            <div class="journey-info d-flex justify-content-between align-items-center">
                <div>
                    <div class="journey-time">
                        @item.Journey.Departure.ToString("HH:mm") → @item.Journey.Arrival.ToString("HH:mm")
                    </div>
                    <div class="journey-details">
                        <span class="journey-partner">@item.Journey.PartnerName</span>
                        <span class="ms-2">@item.Journey.Origin - @item.Journey.Destination</span>
                    </div>
                </div>
                <div class="price-tag">
                    @item.Journey.InternetPrice.ToString("N2") TL
                </div>
            </div>
        </div>
    }
</div>